@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
@keyframes industries-scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-industries-scroll {
  animation: industries-scroll 45s linear infinite;
}

@keyframes testimonials-scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-testimonials-scroll {
  animation: testimonials-scroll 45s linear infinite;
}